@import 'scss/general/fonts';
@import 'scss/general/null';
@import 'scss/general/header';
@import 'scss/general/navMob';
@import 'scss/general/footer';
@import 'scss/general/menu';

// Выше везде

@import 'scss/index/indexUsp';
@import 'scss/index/indexIntroducing';
@import 'scss/index/indexRoadmap';
@import 'scss/index/indexKnow';
@import 'scss/index/indexPartners';
@import 'scss/index/indexTeam';
@import 'scss/index/indexSurprise';
@import 'scss/index/indexComet';

.app {
    background-image: url('/img/general/decor/stars.svg');
}

#uspRedPlanet:hover {
    opacity: 1;
    cursor: pointer;
}

#uspBluePlanet,
#uspRedPlanet {
    transition: 200ms opacity;
}

.uspPlanet1Decor {
    transform-origin: 30%;
    transition: 300ms transform;
}

#uspBluePlanet:hover {
    opacity: 1;
    cursor: pointer;

    .uspPlanet1Decor {
        transform: scale(1.1);
    }
}

.indexStarHider {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 0
}


// Ниже везде
@import 'scss/general/general';