@import 'scss/general/fonts';
@import 'scss/general/null';
@import 'scss/general/header';
@import 'scss/ourMission/ourMissionUsp';
@import 'scss/ourMission/rocket';
@import 'scss/ourMission/aboutOurMission';
@import 'scss/ourMission/roadMap';
@import 'scss/ourMission/ourMissionConnect';
@import 'scss/ourMission/ourMissionSubmit';
@import 'scss/ourMission/ourMissionFaq';
@import 'scss/general/footer';
@import 'scss/general/navMob';
@import 'scss/general/menu';

#uspRedPlanet:hover {
    opacity: 1;
    cursor: pointer;
}

#uspBluePlanet,
#uspRedPlanet {
    transition: 200ms opacity;
}

.uspPlanet1Decor {
    transform-origin: 40%;
    transition: 300ms transform;
}

#uspBluePlanet {

    .uspPlanet1Decor {
        transform-origin: 30% 90%;
    }
}

#uspBluePlanet:hover {
    opacity: 1;
    cursor: pointer;

    .uspPlanet1Decor {
        transform: scale(1.05);
    }
}



@import 'scss/general/general';
@import 'scss/general/loader';