.aboutOurMission {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 900px) {
        padding-top: 500px;
        align-items: flex-start;
    }

    @media(max-width: 600px) {
        padding-top: 350px;
        align-items: flex-start;
    }

    &_right {
        display: flex;
        align-items: center;
    }


    &_decorPlanet {
        .free_img {
            top: 200px;

            @media(max-width: 1200px) {
                top: 0px;
            }

            @media(max-width: 900px) {
                top: 300px;
                align-items: flex-end;
            }

            @media(max-width: 600px) {
                top: 120px;
            }
        }

        img {
            width: 1600px;

            @media(max-width: 1200px) {
                width: 800px;
            }

            @media(max-width: 600px) {
                width: 400px;
            }

        }
    }

    &_decorOrbit {
        @media(max-width: 1200px) {
            display: none;
        }

        .free_img {
            left: 400px;
        }
    }

    &_content {
        padding: 350px 0px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 720px;
        position: relative;
        z-index: 1;

        @media(max-width: 900px) {
            padding: 0px;
        }

        &_decorTop {
            display: flex;
            width: 100%;
            justify-content: right;

            .free_img {
                align-items: baseline;
                justify-content: right;

                img {
                    width: 25px;
                }
            }
        }

        &_decorBot {
            display: flex;
            width: 100%;

            .free_img {
                align-items: end;
                justify-content: left;

                img {
                    width: 25px;
                }
            }
        }

        &_element {
            width: 100%;
            max-width: 720px;
            padding: 25px 0px;
            padding-left: 30px;
            font-size: 35px;
            font-weight: 500;

            @media(max-width: 600px) {
                padding: 8px 0px;
                padding-left: 15px;
                font-size: 16px;
            }
        }
    }
}