#mediaPlanet1,
#mediaPlanet2,
#mediaPlanet3,
#mediaPlanet4 {
    transition: 200ms opacity;
}

#mediaPlanet1:hover,
#mediaPlanet2:hover,
#mediaPlanet3:hover,
#mediaPlanet4:hover {
    cursor: pointer;
    opacity: 0.5;
}


.ourMissionConnect {
    padding: 300px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 300px;

    @media(max-width: 1000px) {
        margin-top: 300px;
    }

    @media(max-width: 800px) {
        margin-top: 120px;
    }



    &_header {
        font-weight: 600;
        font-size: 64px;
        margin-top: 10px;
        display: inline-block;
        background: linear-gradient(120deg, #30BBEE, #C659FC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        text-align: center;
        position: relative;
        z-index: 1;

        @media(max-width: 900px) {
            font-size: 42px;
        }

        @media(max-width: 600px) {
            font-size: 24px;
        }
    }

    &_subHeader {
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        position: relative;
        z-index: 1;

        br {
            display: none;
        }

        @media(max-width: 900px) {
            font-size: 24px;
        }

        @media(max-width: 600px) {
            font-size: 18px;
            margin-top: 15px;

            br {
                display: block;
            }
        }
    }

    &_decorMob {
        width: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        z-index: 0;
        justify-content: center;
        display: none;

        @media(max-width: 800px) {
            display: flex;
        }

        .free_img {
            top: 50px;
        }

        img {
            width: 125vw;
        }
    }

    &_decor {
        width: 100%;
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: center;

        .free_img {
            top: 100px;

            svg {
                min-width: 1623px;
                height: 767px;
            }

            @media(max-width: 1000px) {

                svg {
                    min-width: 1223px;
                }
            }

            @media(max-width: 800px) {
                svg {
                    display: none;
                }
            }
        }
    }
}