.roadMap {
  margin-top: 170px;
  padding-bottom: 430px;

  @media(max-width: 1000px) {
    padding-bottom: 0px;
  }

  &_delimeter {
    height: 2600px;
    min-width: 3px;
    background: linear-gradient(0deg, rgba(20, 156, 232, 0) 0%, rgba(20, 156, 232, 1) 5%, rgba(195, 92, 252, 1) 95%, rgba(195, 92, 252, 0) 100%);

    position: relative;
    z-index: 1;

    @media(max-width: 1000px) {
      height: 2100px;
    }

    @media(max-width: 800px) {
      display: none;
    }

    &_wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      .free_img {
        align-items: baseline;
      }
    }
  }

  &_header {
    &_row {
      color: #7BD3FF;
      font-size: 90px;
      letter-spacing: 4.5px;
      font-weight: 700;

      @media(max-width: 800px) {
        color: #14D1E8;
        font-size: 32px;
      }

      &2 {
        padding-left: 130px;

        @media(max-width: 800px) {
          padding-left: 45px;
        }
      }
    }
  }

  &_list {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;


    &_decorPlanet1 {
      width: 100%;
      position: relative;
      z-index: 0;

      .free_img {
        justify-content: left;
        top: 70px;
        left: 6px;

        @media(max-width: 800px) {
          top: -600px;
          left: 300px;
        }

        img {
          filter: brightness(0.5);
          transition: 300ms filter;
        }
      }
    }

    &_decorPlanet1:hover {
      img {
        cursor: pointer;
        filter: brightness(1) drop-shadow(0px 0px 60px #30BBEE);
      }
    }

    &_decorPlanet2 {
      width: 100%;

      position: relative;
      z-index: 0;

      .free_img {
        justify-content: left;
        left: -650px;

        @media(max-width: 800px) {
          left: -250px;
          top: -700px;

          img {
            width: 600px;
          }
        }
      }
    }

    &_decorPlanet3 {
      width: 100%;
      display: flex;
      justify-content: right;
      position: relative;
      z-index: 0;

      .free_img {
        top: -330px;

        @media(max-width: 800px) {
          left: 0px;
          top: -250px;

        }

        img {
          filter: brightness(0.5);
          transition: 300ms filter;
        }
      }
    }

    &_decorPlanet3:hover {
      cursor: pointer;

      img {
        filter: brightness(1) drop-shadow(0px 0px 60px #C659FC);
      }
    }

    &_decorPortal {
      width: 100%;
      display: flex;
      justify-content: center;

      @media(max-width: 800px) {
        display: none;
      }

      .free_img {
        position: absolute;
        z-index: 99;
        align-items: baseline;
        width: 100%;
      }

    }

    &_decorUnderportal {
      width: 100%;
      display: flex;
      justify-content: center;

      @media(max-width: 800px) {
        display: none;
      }

      .free_img {
        position: absolute;
        z-index: 98;
        align-items: baseline;
        width: 100%;
      }

      &_img {
        min-height: 380px;
        background-color: black;
        width: 100vw;
      }

    }

    &_decorPortalBack {
      margin-top: 1px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 0;

      @media(max-width: 800px) {
        display: none;
      }

      .free_img {
        align-items: end;

        img {
          transform: rotate(180deg);
        }
      }
    }

    &_element {
      width: 100%;
      display: flex;
      justify-content: center;
      column-gap: 200px;
      align-items: center;
      position: relative;
      z-index: 2;

      @media(max-width: 1450px) {
        column-gap: 100px;
      }

      @media(max-width: 1300px) {
        column-gap: 50px;
      }

      @media(max-width: 800px) {
        flex-wrap: wrap;
      }



      &_date,
      &_content {
        width: 100%;
        max-width: 600px;
      }

      &_content {
        @media(max-width: 1300px) {
          width: calc(50% - 25px);
        }

        @media(max-width: 800px) {
          width: 100%;
          order: 2;
        }

        &_year {
          font-size: 24px;
          color: #8C8B92;
          font-weight: 600;

          @media(max-width: 800px) {
            display: none;
          }
        }

        &_header {
          font-weight: 700;
          font-size: 40px;
          margin-top: 10px;
          display: inline-block;
          background: linear-gradient(120deg, #30BBEE, #C659FC);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;

          @media(max-width: 800px) {
            font-size: 32px;
            margin-top: 30px;
          }

          @media(max-width: 500px) {
            font-size: 24px;
          }
        }

        &_desc {
          margin-top: 20px;
          font-size: 32px;
          font-weight: 500;

          @media(max-width: 800px) {
            font-size: 24px;
          }

          @media(max-width: 500px) {
            font-size: 16px;
          }
        }
      }

      &_date {
        display: flex;
        justify-content: right;

        @media(max-width: 1300px) {
          width: calc(50% - 25px);

          img {
            width: 100%;
          }
        }

        @media(max-width: 800px) {
          width: 100%;
          order: 1;

          img {
            max-height: 250px;
          }
        }
      }

      &_date:nth-child(2n) {
        display: flex;
        justify-content: left;
      }
    }

    &_element:not(:first-child) {
      margin-top: 300px;

      @media(max-width: 1000px) {
        margin-top: 120px;
      }
    }
  }
}