.technologyMultiplanet {
    margin-top: 100px;
    display: flex;
    gap: 80px;

    &_wrapper {
        overflow: hidden;
    }

    &_navigator {
        padding-top: 30px;
        min-width: 390px;

        &_decor {
            width: 100%;
        }

        &_content {
            margin-top: 300px;
        }

        &_header {
            font-size: 28px;
            font-weight: 500;
            color: #8C8B92;
        }

        &_list {
            margin-top: 30px;
        }

        &_element {
            border-top: 1px solid #14D1E8;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            gap: 10px;
            opacity: 0.3;
            transition: 200ms opacity;

            img {
                opacity: 0;
                transition: 200ms opacity;
                height: 40px;
            }

            &_text {
                font-size: 28px;
                font-weight: 600;
            }

            &_active {
                opacity: 1;

                img {
                    opacity: 1;
                }
            }

        }

        &_element:last-child {
            border-bottom: 1px solid #14D1E8;
        }

        &_element:hover {
            opacity: 0.8;
            cursor: pointer;
        }


    }

    &_delimeter {
        width: 3px;
        background: linear-gradient(180deg, rgba(20, 156, 232, 0) 0%, rgba(20, 156, 232, 1) 5%, rgba(195, 92, 252, 1) 95%, rgba(195, 92, 252, 0) 100%);

    }

    &_content {
        width: 100%;

        &_element:not(:first-child) {
            padding-top: 150px;
        }

        &_decor {
            .free_img {
                z-index: 0;
                // opacity: 0.3;
                left: 600px;
                justify-content: center;
                align-items: baseline;

                img {
                    filter: brightness(0.4);
                }
            }
        }

        &_advantage {
            position: relative;
            z-index: 1;
            margin-top: 60px;

            &_delimeter {
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, rgba(20, 156, 232, 0) 0%, rgba(20, 156, 232, 1) 5%, rgba(195, 92, 252, 1) 95%, rgba(195, 92, 252, 0) 100%);
            }

            &_content {
                display: flex;
                margin-top: 40px;
                gap: 40px;
                width: 100%;
                justify-content: space-between;
                min-height: 240px;
            }

            &_header {
                font-size: 36px;
                font-weight: 500;
                width: 40%;
                text-transform: capitalize;
            }

            &_text {
                width: 55%;
                font-size: 32px;
                font-weight: 500;
                color: #8C8B92
            }
        }

        &_largeHeader {
            text-transform: uppercase;
            font-size: 90px;
            font-weight: 700;
            position: relative;
            z-index: 1;
        }

        &_p {
            margin-top: 120px;
            font-weight: 500;
            font-size: 40px;
            color: #8C8B92;
            text-transform: capitalize;
            position: relative;
            z-index: 1;
        }

        &_buttons {
            margin-top: 50px;
            display: flex;
            gap: 50px;

            position: relative;
            z-index: 1;

            &_soon,
            &_discuss_wrapper {
                height: 70px;
                background: linear-gradient(120deg, #30BBEE, #C659FC);
                border-radius: 10px;
            }

            &_soon,
            &_discuss {
                transition: 200ms transform;
            }

            &_soon:hover,
            &_discuss:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

            &_discuss_wrapper {
                padding: 2px;
            }

            &_soon {
                padding: 0px 40px;
                font-size: 26px;
                font-weight: 600;
            }

            &_discuss {
                background-color: black;
                border-radius: 10px;
                height: 66px;
                padding: 0px 40px;
                font-size: 26px;
                font-weight: 600;
            }

        }
    }
}