.technologyUsp {
    padding-top: 220px;
    width: 100%;
    min-height: 100vh;

    &_header {
        font-size: 128px;
        font-weight: 600;
        max-width: 700px;
    }

    &_addittional {
        max-width: 600px;
        font-weight: 500;
        font-size: 40px;
        color: #8C8B92;
        text-transform: capitalize;

        &_link {
            display: flex;
            flex-wrap: wrap;
            width: 340px;
            height: 60px;
            margin-top: 30px;
            justify-content: center;

            &_text {
                transition: 200ms transform;
                font-weight: 600;
                font-size: 28px;
            }

            &_decorTop {
                width: 100%;
                display: flex;
                justify-content: right;

                .free_img {
                    align-items: baseline;

                    img {
                        width: 24px;
                    }
                }
            }

            &_decorBot {
                width: 100%;
                display: flex;
                justify-content: left;

                .free_img {
                    align-items: end;

                    img {
                        width: 24px;
                    }
                }
            }
        }

        &_link:hover {
            .technologyUsp_addittional_link_text {
                transform: scale(1.1);
            }
        }

        &_wrapper {
            margin-top: 50px;
            width: 100%;
            display: flex;
            justify-content: right;
        }

    }
}