.indexTeam {
    margin-top: 300px;

    @media(max-width: 900px) {
        margin-top: 200px;
    }

    &_wrapper {
        background-color: black;
        background-image: url('/img/general/decor/stars.svg');
        background-attachment: fixed;
    }

    &_header {
        font-size: 48px;
        font-weight: 600;

        &_filler {
            width: 0px;
            background: linear-gradient(120deg, #30BBEE, #C659FC);
            height: 10px;
            margin-bottom: -10px;
            position: relative;
            z-index: 2;
        }

        &_wrapper {
            border-top: 10px solid #12111C;
            padding: 30px 0px;
        }
    }

    &_elements {
        width: fit-content;
        display: flex;

        // background-color: #fff1;
        // column-gap: 0px;
        @media(max-width: 900px) {
            width: 100%;
            flex-wrap: wrap;
            row-gap: 40px;
        }

        column-gap: 50px;
    }

    &_element {
        &_description {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(max-width: 550px) {
                margin-top: 8px;
            }
        }

        &_skills {
            max-width: 480px;
            font-size: 24px;
            text-transform: capitalize;

            @media(max-width: 900px) {
                font-size: 18px;
                max-width: 360px;
            }

            @media(max-width: 550px) {
                font-size: 8px;
                max-width: 200px;
            }
        }

        &_name {
            font-size: 32px;
            font-weight: 500;

            @media(max-width: 900px) {
                font-size: 24px;
            }

            @media(max-width: 550px) {
                font-size: 12px;
            }
        }

        &_role {
            font-size: 24px;
            font-weight: 500;
            margin-top: 12px;

            @media(max-width: 900px) {
                font-size: 18px;
            }

            @media(max-width: 550px) {
                font-size: 10px;
                margin-top: 4px;
            }
        }
    }

    &_card {
        // width: 1000px;
        width: 860px;
        max-width: calc(100vw - 30px);
        background-color: black;
        border-radius: 25px;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;

        @media(max-width: 900px) {
            padding: 24px;
        }

        @media(max-width: 550px) {
            padding: 16px;
        }

        &_header {
            width: 100%;
        }

        img {
            @media(max-width: 900px) {
                max-height: 240px;
            }

            @media(max-width: 550px) {
                max-height: 180px;
            }
        }

        &_media {
            width: 100%;
            display: flex;
            justify-content: right;
        }

        &_wrapper {
            padding: 2px;
            background: linear-gradient(120deg, #30BBEE, #C659FC);
            border-radius: 25px;
        }
    }
}