.indexKnow {
    margin-top: 300px;

    @media(max-width: 900px) {
        margin-top: 200px;
    }

    @media(max-width: 950px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &_decorRedPlanet {
        width: 100%;
        display: flex;
        justify-content: right;

        @media(max-width: 900px) {
            display: none;
        }

        .free_img {
            align-items: baseline;
        }

        img {
            width: 1300px;
            filter: brightness(0.6);
        }
    }

    &_decorBluePlanet {
        width: 100%;
        display: flex;

        @media(max-width: 900px) {
            display: none;
        }

        .free_img {
            align-items: baseline;
            top: 200px;
        }

        img {
            width: 300px;
        }
    }

    &_header {
        font-size: 75px;
        font-weight: 700;

        @media(max-width: 750px) {
            font-size: 32px;
        }
    }

    &_element {
        padding: 25px;
        border-radius: 25px;
        background-color: #12111C;
        overflow: hidden;
        position: relative;
        z-index: 2;
        transition: 200ms transform;

        @media(max-width: 550px) {
            padding: 16px;
        }

        &_header {
            font-size: 25px;
            font-weight: 600;
            color: #6C95F4;
            text-transform: uppercase;
            position: relative;
            z-index: 1;

            @media(max-width: 550px) {
                font-size: 16px;
            }
        }

        &_p {
            margin-top: 40px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 40px;
            position: relative;
            max-width: 410px;
            z-index: 1;

            @media(max-width: 550px) {
                font-size: 25px;
            }
        }

        &_num {
            margin-top: 48px;
            font-weight: 500;
            font-size: 20px;
            position: relative;
            z-index: 1;

            @media(max-width: 550px) {
                font-size: 16px;
            }
        }

        &_decor {
            position: relative;
            z-index: 0;
            width: 100%;
            display: flex;
            justify-content: center;

            .free_img {
                width: 100%;
                align-items: end;
                top: 25px;
            }

            img {
                width: calc(100% + 50px);
            }
        }

        &_wrapper {
            margin-top: 100px;
            transition: 200ms transform;

            @media(max-width: 750px) {
                margin-top: 90px;
            }

            @media(max-width: 950px) {
                display: flex;
                flex-wrap: wrap;
            }

            padding: 2px;
            background: linear-gradient(120deg, #30BBEE, #C659FC);
            border-radius: 25px;
            width: 100%;
            max-width: 650px;
            display: flex;
            align-items: center;

            &_line1 {
                left: 100px;

                @media(max-width: 950px) {
                    display: none;
                }

                &_mob {
                    display: none;

                    @media(max-width: 950px) {
                        top: -45px;
                        display: flex;
                        width: 100%;

                        img {
                            width: 80%;
                        }
                    }
                }
            }

            &_line2 {
                top: 340px;
                left: -80px;

                @media(max-width: 950px) {
                    display: none;
                }

                &_mob {
                    display: none;

                    @media(max-width: 950px) {
                        top: 45px;
                        display: flex;
                        width: 100%;

                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    &_element:hover {
        transform: scale(1.05);
    }

    &_first {
        margin-left: 80px;

        @media(max-width: 950px) {
            margin-left: 0px;
        }
    }

    &_sec {
        margin-left: 260px;

        @media(max-width: 950px) {
            margin-left: 0px;
        }
    }

}