.indexRoadmap {
    margin-top: 500px;

    &_explore {
        display: block;
        font-size: 40px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms transform;

        &_decorTop,
        &_decorBot {
            width: 100%;
            max-width: 900px;
            padding: 0px 30px;
            display: flex;
        }

        &_decorTop {
            justify-content: right;
        }

        &_wrapper {
            margin-top: 60px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;
        }
    }

    &_explore:hover {
        transform: scale(1.1);
    }

    &_planetBlue {
        width: 100%;
        display: flex;
        justify-content: center;

        .free_img {
            justify-content: right;
            align-items: baseline;
            top: -200px;
            left: -200px;

            @media(max-width: 1300px) {
                top: 100px;
                left: 0px;
            }

            @media(max-width: 900px) {
                left: 0px;
                top: -100px;
            }


            img {
                filter: brightness(0.6);

                @media(max-width: 900px) {
                    width: 500px;
                }

            }
        }
    }

    &_planetRed {
        width: 100%;
        display: flex;
        justify-content: center;

        .free_img {
            justify-content: left;
            align-items: baseline;
            left: -700px;
            top: -900px;

            @media(max-width: 1300px) {
                left: -1000px;
                top: -900px;
            }

            @media(max-width: 900px) {
                // display: none;
                left: -1200px;
                top: -400px;
            }


            img {
                filter: brightness(0.6);


            }
        }
    }

    &_element {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        width: 100%;
        column-gap: 60px;
        align-items: center;
        position: relative;
        z-index: 1;

        @media(max-width: 900px) {
            flex-wrap: wrap;
        }

        &_mobHeader {
            display: none;
            width: 100%;

            @media(max-width: 550px) {
                display: block;
                font-size: 32px;
                font-weight: 500;
            }
        }


        &_subHeader {
            font-size: 40px;
            font-weight: 500;
            text-transform: uppercase;

            @media(max-width: 1200px) {
                font-size: 28px;
            }

            @media(max-width: 550px) {
                display: none;
            }
        }

        &_header {
            text-transform: uppercase;
            margin-top: 10px;
            font-size: 64px;
            font-weight: 700;

            @media(max-width: 1200px) {
                font-size: 40px;
            }

            @media(max-width: 550px) {
                font-size: 24px;
            }

        }

        &_p {
            font-size: 32px;
            font-weight: 500;
            color: #8C8B92;

            @media(max-width: 1200px) {
                font-size: 20px;
            }

            @media(max-width: 550px) {
                font-size: 16px;
                margin-top: 20px;
            }
        }

        &_num,
        &_content {
            width: 50%;

            @media(max-width: 900px) {
                width: 100%;
            }
        }

        &_num {
            display: flex;
            justify-content: left;

            @media(max-width: 900px) {
                order: 1;
                justify-content: center;
            }

            @media(max-width: 550px) {
                img {
                    width: 100%;
                }

                margin: -40px 0px;
            }
        }

        &_content {
            @media(max-width: 900px) {
                order: 2;
            }

        }
    }

    &_delimeter {
        @media(max-width: 900px) {
            display: none;
        }

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;

            .free_img {
                align-items: baseline;
                top: 100px;
            }
        }

        min-width: 3px;
        height: 1700px;
        background: linear-gradient(0deg, rgba(20, 156, 232, 0) 0%, rgba(20, 156, 232, 1) 5%, rgba(195, 92, 252, 1) 95%, rgba(195, 92, 252, 0) 100%);

    }

}

.indexRoadmap_element:nth-child(2n) {
    .indexRoadmap_element_num {
        display: flex;
        justify-content: right;

        @media(max-width: 900px) {
            justify-content: center;
        }
    }
}